[buildout]
always-checkout = force
auto-checkout = 
    Plone
    plone.app.content
    plone.app.controlpanel
    plone.app.form
    plone.app.users
# Need to downgrade to 1.7.1 due to https://dev.plone.org/ticket/13183
# Note that the 1.7.2 release includes a misnamed 1.7.1 unminified version
    plone.app.jquery
    plone.app.jquerytools
    plone.app.layout
    plone.app.linkintegrity
    collective.xmltestreport
    plone.app.locales
    plone.app.dexterity
# Test fixes only
    Products.CMFCalendar
    Products.CMFDefault
    archetypes.schemaextender
    collective.z3cform.datetimewidget
    plone.app.customerize
    plone.app.imaging
    plone.app.iterate
