[buildout]
extends =
<<<<<<< HEAD
    core.cfg

auto-checkout +=
    plone.app.dexterity
    plone.app.referenceablebehavior
    plone.app.relationfield
    plone.app.stagingbehavior
    plone.formwidget.contenttree
    plone.schemaeditor

=======
    jenkins.cfg
always-accept-server-certificate = true

auto-checkout +=
    plone.app.dexterity
    plone.dexterity
    plone.directives.form
    plone.app.referenceablebehavior
# Needs pypi release
    plone.schemaeditor

allow-hosts +=
    *launchpad.net

>>>>>>> 11e96072d38202926951bee65e4f86958108103b
test-eggs +=
	collective.z3cform.datagridfield [test]
        five.grok [form]
	five.intid
	plone.app.lockingbehavior [tests]
	plone.app.referenceablebehavior
	plone.app.relationfield
	plone.app.stagingbehavior [test]
	plone.app.versioningbehavior
	plone.directives.dexterity
	plone.directives.form
	plone.formwidget.autocomplete
	plone.formwidget.contenttree
	z3c.objpath
	z3c.relationfield

[instance]
eggs +=
    plone.app.dexterity[grok,relations]
    plone.app.referenceablebehavior

[test-groups]
Dexterity-ecosystem =
	collective.z3cform.datagridfield
	five.grok
	five.intid
	grokcore.annotation
	grokcore.component
	grokcore.formlib
	grokcore.security
	grokcore.site
	grokcore.view
	grokcore.viewlet
	plone.app.intid
	plone.app.lockingbehavior
	plone.app.referenceablebehavior
	plone.app.relationfield
	plone.app.stagingbehavior
	plone.app.versioningbehavior
	plone.directives.dexterity
	plone.directives.form
	plone.formwidget.autocomplete
	plone.formwidget.contenttree
	z3c.relationfield

[alltests]
exclude +=
    collective.z3cform.datagridfield-demo
    mocker
    wsgi-intercept
<<<<<<< HEAD

[sources]
plone.app.dexerity = git ${remotes:plone}/plone.app.dexterity.git pushurl=${remotes:plone_push}/plone.app.dexterity.git
plone.app.intid = git ${remotes:plone}/plone.app.intid.git pushurl=${remotes:plone_push}/plone.app.intid.git
plone.app.relationfield = git ${remotes:plone}/plone.app.relationfield.git pushurl=${remotes:plone_push}/plone.app.relationfield.git
plone.app.referenceablebehavior = git ${remotes:plone}/plone.app.referenceablebehavior pushurl=${remotes:plone_push}/plone.app.referenceablebehavior.git
plone.app.stagingbehavior = git ${remotes:plone}/plone.app.stagingbehavior.git pushurl=${remotes:plone_push}/plone.app.stagingbehavior.git
plone.formwidget.contenttree = git ${remotes:plone}/plone.formwidget.contenttree.git pushurl=${remotes:plone_push}/plone.formwidget.contenttree.git
=======
    zc.relation

[sources]
plone.app.dexterity = git ${remotes:plone}/plone.app.dexterity.git pushurl=${remotes:plone_push}/plone.app.dexterity.git
plone.dexterity = git ${remotes:plone}/plone.dexterity.git pushurl=${remotes:plone_push}/plone.dexterity.git
plone.directives.form = git ${remotes:plone}/plone.directives.form.git pushurl=${remotes:plone_push}/plone.directives.form.git branch=1.x
plone.app.referenceablebehavior = git ${remotes:plone}/plone.app.referenceablebehavior.git pushurl=${remotes:plone_push}/plone.app.referenceablebehavior.form.git
>>>>>>> 11e96072d38202926951bee65e4f86958108103b
plone.schemaeditor = git ${remotes:plone}/plone.schemaeditor.git pushurl=${remotes:plone_push}/plone.schemaeditor.git
